<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeans.www.repository.UserDAO">
<select id="selectUser" resultType="uvo">
	select * from user where id = #{id}
</select>
<insert id="insertUser">
	insert into user (id, pw, name, email, birth)
	values(#{id}, #{pw}, #{name}, #{email}, #{birth})
</insert>
<update id="updateUser">
	update user set pw = #{pw}, email = #{email} where id = #{id}
</update>
<delete id="deleteUser">
	delete from user where id = #{id} 
</delete>
</mapper>